
body{
	background-color: #212020;
}

h1 {
	font-family: Helvetica;
	size:40px;
	color: white;
}

a {
	font-family: Helvetica;
	text-decoration: none;
	color: red;
}

p {
	font-family: Helvetica;
	size: 14px;
	color: white;
}

.navbar {
	display: inline-block;
	height: 50px;
	width: 920px;
	border: 1px solid black;
	border-radius: 2px;
	background-color: #7F7D7C;
	margin: auto;
	margin-top: -20px;
	position: fixed;
}

#bateman {
	margin: auto;
}

/*
menu css
display: inline;
	padding: 5px;
	border: 2px solid #000000;
	font-family: Futura, Tahoma, sans-serif;
	color: #ffffff;
	border-radius: 5px 5px;
	background-color: #cc0323
*/