
body{
	background-color: #212020;
}

h1 {
	font-family: Helvetica;
	size:40px;
	color: white;
}

a {
	font-family: Helvetica;
	text-decoration: none;
	color: red;
}

p {
	font-family: Helvetica;
	size: 14px;
	color: white;
}

.navbar {
	display: inline-block;
	height: 50px;
	width: 920px;
	border: 1px solid black;
	border-radius: 2px;
	background-color: #FFFFFC;
	margin: auto;
}