
body{
	background-color: #FFFFFF;
	align: center;
}

h1 {
	font-family: 'Questrial', sans-serif;	size:40px;
	color: Black;
	text-align: center;
	padding-top: 80px;
}

a {
	font-family: 'Questrial', sans-serif;	text-decoration: none;
	color: white;
	font-size: 16px;
	display: block;
	letter-spacing: 1px;
}

p {
	font-family: 'Questrial', sans-serif;
	font-size: 18px;
	color: Black;
	text-align: center;
	line-height: 190%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#navbar {
	display: inline-block;
	height: 60px;
	width: 100%;
	background-color: #7F7D7C;

}

#bateman {
	margin: auto;
	align: center;
}

p#cta {
	font-family: 'Questrial', sans-serif;	size: 14px;
	color: Red;
	text-align: center;
	font-size: 24px;
	
}

ul {
	font-family: 'Questrial', sans-serif;
	letter-spacing: 1px;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	font-family: 'Questrial', sans-serif;
	display: inline;
	float: right;
	padding-right: 50px;
	padding-top: 23px;
	letter-spacing: 1px;
}


/*
menu css
display: inline;
	padding: 5px;
	border: 2px solid #000000;
	font-family: Futura, Tahoma, sans-serif;
	color: #ffffff;
	border-radius: 5px 5px;
	background-color: #cc0323
*/